
.TagSelect {
  padding: 10px;
}

.TagSelect .tags {
  padding: 5px;
  margin: 3px;
}

.TagSelect div input {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px;
  margin: 5px;
  font-size: 15px;
}

.TagSelect .tags .tag {
  display: inline-block;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.TagSelect .tags .tag:hover {
  background-color: rgba(0, 0, 0, 0.15);
}